*,*::after,*::before{
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  background: #091921;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

@import url('App.css');